In [9]:
import yfinance as yf
import sqlite3

# Define the ticker symbol for Bitcoin
btc_ticker = "BTC-USD"

# Create a Yahoo Finance object
btc_data = yf.Ticker(btc_ticker)

# Retrieve historical data
btc_history = btc_data.history(period="1y")  # You can change the period as needed

# Create a SQLite database
conn = sqlite3.connect("btc_data.db")
cursor = conn.cursor()

# Create a table to store BTC data
cursor.execute("""
    CREATE TABLE IF NOT EXISTS bitcoin_data (
        Date TEXT,
        Open REAL,
        High REAL,
        Low REAL,
        Close REAL,
        Volume INT,
        Dividends REAL,
        Stock_Splits REAL
    )
""")

# Insert BTC data into the database
for index, row in btc_history.iterrows():
    cursor.execute("""
        INSERT INTO bitcoin_data (Date, Open, High, Low, Close, Volume, Dividends, Stock_Splits)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?)
    """, (str(index), row['Open'], row['High'], row['Low'], row['Close'], row['Volume'], row['Dividends'], row['Stock Splits']))

# Commit the changes and close the connection
conn.commit()
conn.close()

In [10]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect("btc_data.db")
cursor = conn.cursor()

# Perform a SELECT query to retrieve some data
cursor.execute("SELECT Date, Close FROM bitcoin_data LIMIT 5")
data = cursor.fetchall()

# Display the retrieved data
for row in data:
    print(row)

# Close the connection
conn.close()

('2022-10-21 00:00:00+00:00', 19172.46875)
('2022-10-22 00:00:00+00:00', 19208.189453125)
('2022-10-23 00:00:00+00:00', 19567.0078125)
('2022-10-24 00:00:00+00:00', 19345.572265625)
('2022-10-25 00:00:00+00:00', 20095.857421875)

In [11]:
btc_history

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-10-21 00:00:00+00:00,19053.203125,19237.384766,18770.970703,19172.468750,32459287866,0.0,0.0
2022-10-22 00:00:00+00:00,19172.380859,19248.068359,19132.244141,19208.189453,16104440957,0.0,0.0
2022-10-23 00:00:00+00:00,19207.734375,19646.652344,19124.197266,19567.007812,22128794335,0.0,0.0
2022-10-24 00:00:00+00:00,19567.769531,19589.125000,19206.324219,19345.572266,30202235805,0.0,0.0
2022-10-25 00:00:00+00:00,19344.964844,20348.412109,19261.447266,20095.857422,47761524910,0.0,0.0
...,...,...,...,...,...,...,...
2023-10-17 00:00:00+00:00,28522.097656,28618.751953,28110.185547,28415.748047,14872527508,0.0,0.0
2023-10-18 00:00:00+00:00,28413.531250,28889.009766,28174.251953,28328.341797,12724128586,0.0,0.0
2023-10-19 00:00:00+00:00,28332.416016,28892.474609,28177.988281,28719.806641,14448058195,0.0,0.0
2023-10-20 00:00:00+00:00,28732.812500,30104.085938,28601.669922,29682.949219,21536125230,0.0,0.0
2023-10-21 00:00:00+00:00,29677.050781,30218.609375,29483.230469,29987.669922,11646401536,0.0,0.0